  <footer class="common-footer">
    <nav>
      <div class="container">
        <div class="qrcode">
          <img class="geekbang" alt="geekbang" src="/assets/logo-geekbang.svg">
          <div class="grow">
            <p class="study">整合全球优质学习资源</p>
            <p class="help">帮助技术人和企业成长</p>
            <p class="english">Growing Technicians</p>
            <p  class="english">Growing Companies</p>
        </div>
        </div>
        <ul class="proj">
          <li class="stuq">
            <div class="icon"></div>
            <div class="content">
              <span class="business-type">职业教育</span>
              <span class="business-type-description">在职技术人的一个学习方式</span>
              <a class="learn-more" href="http://www.stuq.org/" target="_blank"></a>
            </div>
          </li>
          <li class="ego">
            <div class="icon"></div>
            <div class="content">
              <span>职业社交</span>
              <span class="tops">高端技术人员学习型社交网络</span>
              <a class="learn-more" href="http://www.egonetworks.org/" target="_blank"></a>
            </div>
          </li>
          <li class="infoq">
            <div class="icon"></div>
            <div class="content">
              <span>技术媒体</span>
              <span>专注中高端技术人员的社区媒体</span>
              <a class="learn-more" href="http://www.infoq.com/cn/" target="_blank"></a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="copy">
      <a href="http://www.geekbang.org/" target="_blank"><span>公司简介</span></a>
      <!-- <a><span>联系我们</span></a> -->
      <!-- <a><span>常见问题</span></a> -->
      <!-- <a><span>隐私协议</span></a> -->
      <span class="copyright">© 2017 Geekbang Technology Ltd. All rights reserved.</span>
    </div>
  </footer>
