<!DOCTYPE HTML>
<html>
<head>
  {(head.html)}
</head>
<body>
  {(header.html)}
  <!--main body-->
  <div class="sq-page-home" id="sq-page-home">
    <div id="home-banner" class="home-banner">
      <div class="notification">
        <div class="background"></div>
        <a href="{* notice[1].link *}" target="_blank">
          <i class="sound"></i>{* notice[1].title *}
        </a>
        <a class="close">&#10005;</a>
      </div>
      <div class="background">
        <video src="http://7xil0e.com2.z0.glb.qiniucdn.com/homepage/_video.mp4" autoplay loop></video>
      </div>
      <p class="title">{* titles[1].title *}</p>
      <p class="subtitle">{* titles[1].description *}</p>
      <a class="button main-button" href="/course" target="_self">开始学习</a>
    </div>
    <div class="home-email-subscription">
      <div class="container">
        <p class="title">学习资料订阅服务</p>
        <p class="subtitle" :style="{visibility:'hidden'}"></p>
        <p class="description">获取StuQ最新公开课，直播课和学习资料，程序员的技术升级库</p>
        <div class="email-input-wrapper">
          <div class="input-container">
            <input type="email" name="email" class="input-email" placeholder="邮箱地址" v-model="inputValue">
            <button  id="submit-email" class="input-button"
            @click="submit" :disabled="bookingBtnDisabled">{-raw-}{{bookingBtnTitle}}{-raw-}</button>
          </div>
          <div class="errormsg" :style="{ visibility: !!errorMessage ? 'visible' : 'hidden' }">
            {-raw-}{{errorMessage}}{-raw-}
          </div>
        </div>
      </div>
    </div>
    <input id="csrf-input" type="hidden" name="_token" value="<?php echo csrf_token(); ?>">
    <div class="home-hotclass" id="home-hotclass">
      <div class="container">
        <p class="title">{* titles[2].title *}</p>
        <p class="subtitle">{* titles[2].description *}</p>
        <div>
          <div class="row">
            {# TODO link url #}
            {% for i,skill in pairs(skills) do %}
              <div class="column" data-url="{* skill.link *}">
                <div class="front" style="background: {*  skill.color  *}">
                  <div class="icon"><i style="background-image: url('{*  skill.icon *}')"></i></div>
                  <div class="title">{*  skill.name  *}</div>
                  <div class="line"></div>
                  <div class="desp">{* skill.name_en *}</div>
                </div>
                {% if skill.intro ~= nil then %}
                <div class="back" style="background: {* skill.color *}">
                  <div class="title">{* skill.name *}</div>
                  <div class="content">{* skill.intro *}</div>
                  <div class="button"><a href="/course" target="_self" style="color: {* skill.color *}">了解更多>></a></div>
                </div>
                {% end %}
              </div>
            {% end %}
          </div>
        </div>
      </div>
    </div>

    <div class="home-studymethod">
      <div class="container">
        <p class="title">{* titles[3].title *}</p>
        <p class="subtitle">{* titles[3].description *}</p>
        <div>
          <div class="row">
            {% for i,category in pairs(categories) do %}
              {# TODO link url, 企业内训 css #}
            <div class="column {* key *}">
              <div class="icon" style="background: url('{*  category.icon *}') center no-repeat {* category.color *}"></div>
              <div class="title">{* category.name *}</div>
              <div class="subtitle">{* category.name *}</div>
              <div class="content">{* category.intro *}</div>
              <a href="{* category.link *}" target="_blank" class="more" style="color: {*  category.color  *}">了解更多>></a>
            </div>
           {% end %}
          </div>
        </div>
      </div>
    </div>
    <div id="home-subscribe" class="home-subscribe">
      {# TODO key, iconUrl #}
      <div class="container">
        <p class="title">{* titles[4].title *}</p>
        <p class="subtitle">{* titles[4].description *}</p>
        <img class="mobile" src="/assets/mobile_subscribe.jpg" alt="mobile">
        <div class="description">
          <div class="row">
            <div class="qrcode-wrap">
              <div class="qrcode">
              {% for i,subscribe in pairs(subscribes) do %}
                <img class="img-{*  subscribe.description  *}" data-id="{*  subscribe.description  *}" src="{*  subscribe.img_url  *}" alt="{*  subscribe.title  *}">
              {% end %}
              </div>
              <p>扫描二维码关注该技能公众号</p>
            </div>
            <div class="info-container">
            {% for i,subscribe in pairs(subscribes) do %}
              <div class="info {% if subscribe.description ~= 'stuq' then %} hidden {% end %}" data-id="{*  subscribe.description  *}">
                <p class="title">{*  subscribe.title  *}</p>
                <div class="desp">
                  {* subscribe.body *}
                </div>
              </div>
            {% end %}
            </div>
          </div>
          <div class="row contents">
          {% for i,subscribe in pairs(subscribes) do %}
            {% if i == 1 then %}
            <img data-id="{* subscribe.description *}" class="icon" src="{* subscribe.link *}">
            {% end %}
          {% end %}
          </div>
        </div>
        <a class="main-button button" style="display: none">了解更多>></a>
      </div>
    </div>
    <div class="home-atlas">
      <div class="container">
        <p class="title">{* titles[5].title *}</p>
        <p class="subtitle">{* titles[5].description *}</p>
        <img class="atlas-graph" src="/assets/atlas.png" alt="atlas">
        <div class="content">汇集整理泛 IT 技术领域 （云计算，大数据，运维，安全，开发语言，智能硬件等） 及互联网产品、运营等领域学习技能图谱，帮助程序员梳理知识框架结构，并尝试提供路径指导和精华资源，方便技术人学习成长。</div>
        <a class="main-button button" href="http://skill-map.stuq.org/" target="_blank">了解更多>></a>
      </div>
    </div>
    <div class="home-app" style="display: none;">
      <div class="container">
        <p class="title">官方应用</p>
        <p class="subtitle">在线教育的无限探索</p>
        <img class="mobile" src="/assets/mobile_app.png" alt="mobile">
        <div class="gaoding">
          <div class="red">搞定</div>
          <div class="gray">所有人搞定所有人的问题</div>
        </div>
        <div class="stuq">
          <div class="red">STUQSLIDES</div>
          <div class="gray">有内容有干货的IT<br/>技术讲义社区</div>
        </div>
        <div class="qrcode qrcodegaoding">
          <!-- <img src="/assets/qrcode_gaoding.png" alt="搞定"> -->
        </div>
        <div class="qrcode qrcodestuq">
          <img data-id="stuq" src="/assets/qrcode_stuq.jpg" alt="StuQ">
        </div>
        <p class="tip">扫面二维码下载技能App</p>
        <a class="main-button button">了解更多>></a>
        <div class="appstamp">
          <i class="app">搞定</i>
          <i class="app"><span>STUQ<br/>SLIDES</span></i>
        </div>
      </div>
    </div>
    <div class="home-teacher">
      <div class="container">
        <p class="title">{* titles[6].title *}</p>
        <p class="subtitle">{* titles[6].description *}</p>
        <div class="moreinfo"><a href="/course/lecturers" target="_blank">进一步了解></a></div>
        <div class="teachers-grid">
          {% for i,teacher in pairs(teachers) do %}
            <div class="teacher">
              {% if teacher.avatar ~= nil then %}
                <img class="avatar" src="{* teacher.avatar *}" alt="teacher-avatar">
              {% else %}
                <img class="default-avatar" src="/assets/svg/teacher_avatar_default.svg" alt="teacher-avatar">
              {% end %}
              <div class="name">{* teacher.name *}</div>
              <div class="job">{* teacher.intro *}</div>
            </div>
          {% end %}
        </div>
      </div>
    </div>
    <div class="home-teachercomment" id="home-teachercomment">
      <div class="container">
        <p class="title">{* titles[7].title *}</p>
        <p class="subtitle">{* titles[7].description *}</p>
        <div class="quota">
          {{ theysays[1].body }}
        </div>
        <div class="line"></div>
        <div class="row">
        {% for i,teacher in pairs(theysays) do %}
          <div class="column" data-comment="{*  teacher.body  *}">
            <div class="icon {% if i == 1 then %}color{% end %}" style="background-image: url('{*  teacher.img_url  *}')"></div>
            <div class="desp">
              <div class="name">{*  teacher.title  *}</div>
              <div class="title">{*  teacher.description  *}</div>
            </div>
          </div>
        {% end %}
        </div>
      </div>
    </div>
    <div class="home-friends">
      <div class="container">
        <p class="title">{* titles[8].title *}</p>
        <p class="subtitle">{* titles[8].description *}</p>
        <div class="moreinfo">
          <!-- <a href="/page/info/partner" target="_blank">进一步了解></a> -->
        </div>
        <ul class="brand-list">
        {% for i,company in pairs(companys) do %}
          <a class="brand-item {* i *}" href="{* company.link *}" target="_blank">
            <img src="{* company.logo *}" alt="{* company.name *}">
          </a>
          {# {* if loop.index==4 *} <br/> {* endif *} #}
        {% end %}
        </ul>
      </div>
    </div>
    <div class="home-beginstudy">
      <p class="title">{* titles[9].title *}</p>
      <p class="subtitle">{* titles[9].description *}</p>
      <a class="button main-button" href="/course" target="_self">开始学习</a>
    </div>

  </div>


  <script type="text/javascript">
  var vm = new Vue({
    el: "#sq-page-home",
    data: {
      errorMessage: null,
      inputValue: '',
      sendingRequest: false
    },
    computed: {
      bookingBtnTitle: function() {
        if (this.sendingRequest) {
          return "订阅中...";
        } else {
          return "订阅";
        }
      },
      bookingBtnDisabled: function() {
        if(this.sendingRequest) {
          return true;
        } else {
          return false;
        }
      }
    },
    watch: {
      inputValue(val) {
        if (val != null) {
          this.validate();
        }
      }
    },
    methods: {
      validate() {
        if (!this.inputValue) {
          this.errorMessage = "邮箱不能为空";
          return false;
        }
        var regexEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!regexEmail.test(this.inputValue) ) {
          this.errorMessage = "邮箱格式错误";
          return false;
        }
        this.errorMessage = '';
        return true;
      },
      submit() {
        vm.sendingRequest = true;
        $.ajax({
          method: 'POST',
          url: "/subscribe",
          data: {
            "email": vm.inputValue,
            "_token": $("#csrf-input").val()
          },
          beforeSend: function() {
            if (!vm.validate()) {
              vm.sendingRequest = false;
              return false;
            }
          },
          success: function(data){
            vm.sendingRequest = false;
            if (data.error) {
              alert(data.message);
            } else {
              vm.inputValue = null;
              alert("订阅成功！");
            }
          },
          error: function(jqXHR, textStatus, errorThrown){
            vm.sendingRequest = false;
            alert(textStatus);
          }
        })
      }
    }
  });
  </script>

  {(footer.html)}
  {(script.html)}
</body>
</html>
